<nz-collapse [nzBordered]="false">
  <nz-collapse-panel [nzHeader]="'ფილტრი'" [nzActive]="false">
    <div class="row mb-8 flex justify-between items-center">
      <form
        nz-form
        class="ant-form-inline"
        [formGroup]="filterForm"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-input-group>
            <nz-form-label nzFor="firstName">სახელი</nz-form-label>
            <nz-form-control>
              <input
                id="firstName"
                formControlName="firstName"
                nz-input
                placeholder="სახელი"
              />
            </nz-form-control>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item>
          <nz-input-group>
            <nz-form-label nzFor="lastName">გვარი</nz-form-label>
            <nz-form-control>
              <input
                id="lastName"
                formControlName="lastName"
                nz-input
                placeholder="გვარი"
              />
            </nz-form-control>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item>
          <nz-input-group>
            <nz-form-label nzFor="email">იმეილი</nz-form-label>
            <nz-form-control>
              <input
                id="email"
                formControlName="email"
                nz-input
                placeholder="იმეილი"
              />
            </nz-form-control>
          </nz-input-group>
        </nz-form-item>
        <button
          nz-button
          class="button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors"
          type="submit"
        >
          გაფილტვრა
        </button>
      </form>
    </div>
  </nz-collapse-panel>
</nz-collapse>
